.supportContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  flex-wrap: wrap;
  flex-basis: 300px;

  .supUl {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffff;
    box-shadow: 0 10px 30px rgb(0 0 0 / 15%);
    max-width: 1000px;
    width: 100%;
    padding: 50px;
    margin-top: 3%;
    font-size: 40px;
    height: max-content;
  }

  .supUl li {
    padding: 10px;
    border-right: 1px solid rgb(221, 221, 221);
  }

  .supUl li:last-child {
    border: none;
  }

  .supUl .bottom {
    display: flex;
    font-size: 15px;
    color: rgb(177, 176, 176);
  }

  .supUl p {
    font-size: 20px;
    font-weight: 500;
  }

  @media (max-width: 720px) {
    .supUl {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .supUl li {
      border-right: none;
      border-bottom: 1px solid rgb(221, 221, 221);
    }
  }
}
