.products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 300px;
  flex-wrap: wrap;
  margin: 40px;
  padding: 20px;
}

.cardContainer {
  width: 300px;
  height: 200px;
  overflow: hidden;
  box-shadow: 0px 0px 10px -5px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 2.2rem;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cardContent {
  margin: 1rem;
  margin-top: 0.5rem;
}

.cardTitle {
  margin-bottom: 0.5rem;
}

.imageContainer {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}